<h2>@ViewBag.PaisBuscado.nombre <br></h2>
@ViewBag.paisBuscado.imgbandera <br>
<h4>@ViewBag.PaisBuscado.Poblacion <br></h4>
<h4>@ViewBag.paisBuscado.FechaIndependencia <br></h4>
<h4>@ViewBag.paisBuscado.AtractivosTuristicos <br></h4>